@import 'normalize';

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: initial;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
