{
  "env": {
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "styled-jsx": {
              "plugins": ["styled-jsx-plugin-sass"]
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "styled-jsx": {
              "plugins": ["styled-jsx-plugin-sass"],
              "sourceMaps": true
            }
          }
        ]
      ]
    },
    "test": {
      "presets": ["next/babel"]
    }
  },
  "plugins": [["babel-plugin-root-import"]]
}
