{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "/server/index.js",
      "options": {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "jsxBracketSameLine": true
      }
    }
  ]
}
