language: node_js
node_js:
  - 'node'
  - 10
script:
  - yarn lint
  - yarn test
  - yarn build
notifications:
  email:
    on_failure: change
cache:
  yarn: true
  directories:
    - node_modules
deploy:
  provider: heroku
  app: valentingurkov
  skip_cleanup: true
  api_key:
    secure: M4J5fGLhJrOIjIWxqQiu8+CBDLluK12j28J4QZhLNzau5PhFyXYd1DnzwRKlml0hUFGruMDX7LF7j3rd2IOkIL0TzrVMdyICTuv6RhYCSPO+6sXrPYWmRy+B5QJ6w6gUTuBdS5BiNrLuUUeKYAyGQxHJoxAtLHxmgJ8ga2y6Sa5afrZ0f0uj8JBIfP4l9RYF0KzDJBx+LLOHeBArG9ePN1FL9FEcqi2rRcB5VnAbeliz5GXMKdDjTVRgHrPLEpLRNteQur2ni9winPfrEpAUwD1Pci8pISnOkojszzJJ8rm0gQkCAMHkVoZ9b/OC3Qt6+N+HDmalGtzznCrw0Sglyak++j7o+YAP1WyPBiMtjPQdZIwinkHo0fBsqpPvHoipHBuOKzcvyfQAWzhgShp5HSvk9pG2x3QBa2kmgqgx6QF5o01ARsSc0j8faJtHSWraVYxY3HDNxRA3dcwW0NlzhABogYbUOwxClbTD2q6W0erkJCNEFg/8oPmPQR3McWhcCrTtWKZ6a7rHN7n3zBuJVr/567VhPpxVKe96AGzUZF8/mAx030J7KODRGCCWQmiHd2Fk08Nw+y0MoCl66+nLkj2SZW1qCD0mNAgSZ7EC9j+Q43HLyeJl5+UOOjN2jjtejgFP2XiVjNPG94UYeiZT8WWYfywjgxZmfAwY7SVeQJI=
