.logo {
  align-self: center;
  width: 164px;

  img {
    max-width: 100%;
  }
}

.footerLogo {
  align-self: center;
  width: 164px;

  img {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 40px;
  }
}
